<?xml version="1.0" encoding="UTF-8"?>
<settings version="2">
    <section id="general">
        <category id="apikeys" label="32001">
            <group id="1">
                <setting id="omdb_api_key" type="string" label="OMDb API Key">
                    <default></default>
                    <control type="edit" format="string" />
                    <help>Enter your OMDb API key to enable Rotten Tomatoes and Metacritic ratings.
                        Get a free key at https://www.omdbapi.com/apikey.aspx</help>
                </setting>
            </group>
        </category>
    </section>
</settings>
